body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background-image: url('./images/background.jpg');
}

#game-container {
    height: 600px;
    width: 700px;
    position: relative;
    aspect-ratio: 700 / 600;
    margin: auto;
    border: 1px solid white;
    z-index: 1;
    overflow: hidden;
}


.star {
    position: absolute;
    background: white;
    border-radius: 50%;
}

.space-text {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 25px;
}

#player {
    display: none;
}

@media (max-width: 600px) {
    #game-container {
        width: 100%;
        /* Fill the width on small screens */
        max-width: none;
        /* Remove max-width constraint */
    }
}